/*
standard border radius: 0.7rem;

*/
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img{
  /* padding: 20px; */
  margin: 20px;
  width: 40px;
  height:40px;
  cursor: pointer;
}


img:hover{
  background-color: #e6d7ff;
  border-radius: 20%;
}

.inputForm{
  text-align: center;
  padding: 0 0 2rem 0;
}

input{
  font-family: 'Silkscreen', cursive;
  font-size: 30px;
  width:70%;
  height: 30px;
  border-radius: 20px;
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 250ms opacity ease-in;
}

.modal_visible {
  opacity: 1;
  pointer-events: auto;
}

.modal_container {
  background-color: white;
  width: 26rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
}

.modal_container h1 {
  text-align: center;
}

.modal_container p {
  line-height: 1.5rem;
  border-top: 1px solid lightgrey;
  padding: 0.5rem 0;
  text-align: center;
}

.modal_buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0.5rem;
}

.game_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title_container {
  text-align: center;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.tile_container {
  width: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.key_container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}


.tile_container div {
  display: flex;
  border: black;
}

.tile_container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid#D3D3D3;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.key_container button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #D3D3D3;
  margin: 4px;
}

.key_container button:nth-child(11) {
  margin-left: 30px;
}

.key_container button:nth-child(20),
.key_container button:nth-child(28) {
  width: 68px;
}

.message_container {
    height: 30px;
}

.message_container p {
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
  animation: 0.5s linear flipping;
}

/* @keyframes specify the animation, in this case named flipping */

@keyframes flipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}

.grey_overlay {
  background-color: #727272 !important;
  border:none !important;
}
.yellow_overlay {
  background-color: #b59f3a !important;
  border:none !important;
}

.green_overlay {
  background-color: #538d4e !important;
  border:none !important;
}